@import 'app.sass'

////////////////////////////////////
ol, ul, li, a, p, span
	margin: 0 0
	padding: 0 0

////////////////////////////////////
.ov-hidden
	overflow: hidden
.pos-rel
	position: relative
.pos-abs
	position: absolute

//////////////BUTTON////////////////
buton, .btn 

	@media screen and (max-width: 576px)
		width: 50vw
		max-width: 170px
	@media (min-width: 576px) and (max-width: 768px)
		width: 30vw
		max-width: 180px
	@media (min-width: 768px) and (max-width: 992px)
		min-width: 180px
		max-width: 200px
	@media (max-width: 992px)
		height: 60px

	height: 70px
	min-width: 200px
	max-width: 18vw
	font-size: 1.3rem
	border: none
	border-radius: 35px
	background-color: #fcb524
	text-align: center
	color: #ffffff
	cursor: pointer
	text-decoration: none
	&:hover
		background-color: darken(#fcb524,10%)
	&:active
		background-color: darken(#fcb524,20%)
		color: darken(#ffffff,20%)
		padding: 5px 0
	&:focus
	&:hover
		box-shadow: 0 0 12px 4px rgba(#fcb524, .2)
	&:active ,
	&:focus
		text-decoration: none
		border: none
#sendMessageButton
	&:hover , &:active , &:focus
		box-shadow: none

///////////////////////////////////
.form-control-inf
	font-family: Roboto-Bold
span
	position: relative
.Sponsors
	span 
		font-size: 30px
		font-family: Roboto-Light
		color: #ffffff
		text-align: left
a
	text-decoration: none
	font-size: 18px
	color: #ffffff
	&:hover, &:active, &:focus, &:visited
		text-decoration: none
		color: #ffffff

ul

	@media (max-width: 768px)
		align-items: center /* Центрирование по вертикали */
li 
	list-style: none
	display: inline
	@media (max-width: 768px)
		text-align: center
		display: block

p 
	@media (min-width: 1200px)
		font-size: 18px
	@media (min-width: 992px) and (max-width: 1200px)
		font-size: 3vh
	@media (min-width: 768px) and (max-width: 992px)
		font-size: 2.8vh
	@media (min-width: 576px) and (max-width: 768px)
		font-size: 15px
	@media (max-width: 576px)
		font-size: 2.6vmax
////////////////////////////////////
p, h1
	text-align: center
	color: #ffffff
h1, h2
	text-align: center
	font-family: Roboto-Black

h3, h4, button, .btn
	font-family: Roboto-Bold
////////////////////////////////////
h1 // 36px
	// font-size: 120px
	font-size: 10vh
	@media (min-width: 576px)
		font-size: 12vh
	@media (min-width: 768px)
		font-size: 16vh
	@media (min-width: 992px)
		font-size: 18vh
	@media (min-width: 1200px)
		font-size: 20vh

h2 // 24px
	font-size: 7vh
	@media (min-width: 576px)
		font-size: 8.5vh
	@media (min-width: 768px)
		font-size: 10.5vh
	@media (min-width: 992px)
		font-size: 12vh
	@media (min-width: 1200px)
		font-size: 13vh //72px

h3 // 21px
	font-size: 24px
	text-align: left !important
	@media (min-width: 576px)
		font-size: 5vh
	@media (min-width: 768px)
		font-size: 6.5vh
	@media (min-width: 992px)
		font-size: 8vh
	@media (min-width: 1200px)
		font-size: 48px

h4 // 18px
	font-size: 24px
	@media (min-width: 576px)
		font-size: 4.5vh
	@media (min-width: 768px)
		font-size: 5vh
	@media (min-width: 992px)
		font-size: 6vh
	@media (min-width: 1200px)
		font-size: 36px

////////////////viewport////////////////////
section:not(.Our-team)
	display: flex
	justify-content: center /* Центрирование по горизонтали */
section
	overflow: hidden
	height: 100vh /* высота секции равна высоте области просмотра */
	// width: auto /* Автоматическая ширина для пропорциональности высоты */
	max-width: 100% /* Не больше ширины родительского элемента */
	// max-height: 100vh /* Не превышая высоту viewport */
	align-items: center /* Центрирование по вертикали */

////////////////////////////////////
.Our-team, .Portfolio
	padding-top: 40px
.Our-team, .Portfolio, .Contact-us
	h2
		color: #222222
		position: relative
		text-align: center
		span:before
			content: ' '
			height: 2px
			background-color: #fcb524
			position: absolute
			left: -25px
			right: -25px
			bottom: 6px
	@media (max-width: 576px)
		.Our-team, .Portfolio, .Contact-us
			padding-top: 0px
			margin: 0
		@media (max-width: 576px)
			&:before
				width: initial
				top: 40px
				left: -15px
				right: -15px

///////////////// MAIN-STYLES ///////////////////
header
	width: 100%
	position: fixed
	z-index: 5
	background-color: rgba(128, 0, 128, .8)
	// @media (min-width: 576px)
		// margin: 0
	.navbar
		align-items: flex-start
		padding-top: 0
		padding-bottom: 0
		/////////////////// ICON BURGER //////////////////////
		@media (max-width: 768px)
			padding: 0
			.navbar-toggler
				transition: .3s ease-in-out
				position: absolute
				top: 6px
				right: 10px
				text-decoration: none
				outline: none
				z-index: 9999
				border: none
				// border-color: rgba(128, 0, 128, 0.2)
				// background-color: rgba(128, 0, 128, 0.1)
				.navbar-toggler-icon
					position: initial
					z-index: 11
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important
					&:hover
						color: #ffffff
		.logo
			transition: .3s ease-in-out
			display: inline-block
			padding: 0
			margin: 0
			font-size: 34px
			padding-left: 15px
			font-family: roboto-bold
			color: white
			&:hover, &:active, &:focus
				color: white
			
			@media (max-width: 920px)
				margin-right: 35px
			@media (min-width: 576px)
				opacity: 1
			@media (max-width: 576px)
				opacity: 0
		.navbar-collapse
			align-items: center
			@media (max-width: 768px)
				justify-content: center	
				height: 50vh			
			@media (min-width: 992px)
				padding-right: 0vw
			a
				text-align: center
				white-space: nowrap
				margin-left: 4.7vw
				line-height: 45px
				transition: .3s ease-in-out
				&:hover
					color: #fcb524
				@media (max-width: 768px)
					display: block
					line-height: 2
					margin-left: 0
					&:last-child
						margin-bottom: 30px
				@media (min-width: 768px)
					font-size: 1.7vw
					margin-left: 4vw
					&:last-child
						margin-right: 1vw
				@media (min-width: 992px)
					margin-left: 5.5vw

			@media (max-width: 768px)
				position: relative
				width: 100%
	.header-small .logo
		font-size: 21px
	.header-small .navbar-toggler
	 	top: -4px
	.header-small .navbar-collapse a
		@media (min-width: 768px)
			line-height: 33px		// 
			font-size: 1.2vw
				
.main
	background-image: url("../img/Header-bg.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	// h1
	// 	padding-top: 18vh
	// 	padding-bottom: 4vh
	h1
		padding-top: 10vh
		padding-bottom: 2vh
	p 
		font-size: 30px
		padding-bottom: 7vh
	button
	@media (max-width: 768px)
		h1
			padding-bottom: 37vh
			// font-size: 15vh
			button
				margin: 0 auto 


.FEATURES
	padding: 60px 0 0
	overflow: hidden
	.main-inf:nth-child(1), .main-inf:nth-child(2)
		p 
			padding-bottom: 35px
	.main-inf
		position: relative
		margin-bottom: 0px
		h4
			.fa
				position: absolute
				top: 7px
				left: 10px
				font-size: 32px
				color: #7f7f7f
		h4, p 
			padding-left: 50px
			color: #222222
		p
			text-align: left
	@media (min-width: 576px)
		height: 100vh
	@media (min-width: 576px) and (max-width: 768px)
		padding-top: 15vh
		.main-inf:nth-child(1), .main-inf:nth-child(2)
			padding-bottom: 10vh
		.main-inf
			height: 50vh		
		// .main-inf
		// 	height: 35vh
	@media (max-width: 576px)
		padding: 5vh 0 0 0
		height: 200vh
		margin: 0
		.row
			padding: 0
		.main-inf
			height: 47vh
		.main-inf:nth-child(1), .main-inf:nth-child(2)
			padding-bottom: 0
		// p 
		// 	padding-bottom: 1.5vh
	@media (max-width: 1200px)
		.main-inf
			h4
				.fa
					top: 5px
					left: initial
					right: 10px
					position: absolute
					font-size: 24px
			h4, p 
				padding-left: 0px
			p
				text-align: justify///// может перенести на дрегой брейкпоинт

.Our-team
	padding-top: 30px
	img
		width: auto
		height: 78vh
	.nadpis
		top: 0
		left: 0
		right: 0
		height: 100%
		color: #222222
		h3
			margin-top: 27vh
		p
			font-size: 15px
			margin-bottom: 5px
		h3, p
			text-align: left
			color: #ffffff
			margin-left: 40px
	///////////////SLICK-ARROW////////////////
	.slick-arrow
		z-index: 1
	.slick-prev, .slick-next
		border-radius: 50%
		border: 1px solid #ffffff
		width: 60px
		height: 60px
	.slick-prev:hover, .slick-next:hover
		@media (min-width: 768px)
			box-shadow: 0 0 12px 4px rgba(255,255,255,.2)
	.slick-prev
		left: 5%
		.fa-arrow-circle-o-left
			color: #222222
			font-size: 50px
	.slick-next
		right: 5%
		.fa-arrow-circle-o-right
			color: #222222
			font-size: 50px
	.slick-prev:before, .slick-next:before
		content: ' '
		border: 1px solid white
		display: block
		height: 25px
		width: 25px
		margin: 0 auto
		border-top: none
		border-right: none
	.slick-prev:before
		transform: translate(7px,0) rotate(45deg)
	.slick-next:before
		transform: translate(-5px,0) rotate(-135deg)
	.slick-slide
		background-color: black
		div
			display: none
	.slick-slide.slick-current div
		display: block
	.slick-slide img
		transition: opacity 1s ease-in-out
		opacity: 0.5
	.slick-current img
		opacity: 1
	.slick-slide span
		display: none	
	.slick-current span
		display: block
		transition: opacity 10s linear
	@media screen and (max-width: 768px) // col-sm
		///////////////SLICK////////////////
		.slick-prev, .slick-next
			width: 30px
			height: 30px
		.slick-prev
			left: 10px !important
			right: initial !important
		.slick-next
			right: 10px
			left: initial
		.slick-prev:before, .slick-next:before
			height: 15px
			width: 15px
		.slick-prev:before
			transform: translate(4px,0) rotate(45deg)
		.slick-next:before
			transform: translate(-5px,0) rotate(-135deg)
	@media (max-width: 768px)
		img
			height: 84vh
		h3, p
			padding-left: 15vw
		h3
			padding-top: 6vh
	@media (max-width: 576px)
		h2
			// padding-top: 1%
		img
			width: auto
			height: 90.5vh
		.nadpis
			// max-width: 100vw
			// margin-left: auto
			// margin-right: auto
			h3, p
				max-width: 100vw
				margin-left: auto
				margin-right: auto
			h3
				margin-top: 40vh
				margin-bottom: 6vh
			p
				display: none/////

.Portfolio
	@media (max-width: 576px)
		height: initial
	h2
		padding-bottom: 5.4vh
	// .pf-others
	// 	padding-bottom: 10vh
	// 	a
	// 		color: #222222
	// 		position: relative
	// 		overflow: visible
	// 		padding: 0px 10px 10px
	// 		&:hover:before
	// 			content: ' '
	// 			position: absolute
	// 			top: 25px
	// 			left: -10px
	// 			right: -10px
	// 			height: 2px
	// 			background-color: #fcb524
	// 	@media (min-width: 576px)	and (max-width: 768px)
	// 		a
	// 			padding-bottom: 15px
	// 	@media (min-width: 768px)
	// 		a
	// 			padding-top: 10px
	// 			padding-bottom: 30px
	// 	@media (min-width: 992px)
	// 		a
	// 			padding-top: 5px
	// 			padding-bottom: 25px
	// 	@media (min-width: 1200px)
	// 		a
	// 			padding-top: 0px
	// 			padding-bottom: 10px

		// .col-6, .PF-img, a 
		// 	height: 28vh
		// 	overflow: hidden
	.col-6
		// height: 28vh
		.grid-portfolio-item
		  position: relative
		  overflow: hidden
		  height: 100%
	  	margin-left: -15px
	  	margin-right: -15px
		  // margin-bottom: 30px
		  &:hover .grid-portfolio-item-cover
		    transition: all .5s
		    left: 0
		    width: 101%
		  .grid-portfolio-image
		    border: 1px solid #ffffff
		    img
		      width: 100%
		      // height: 36vh
		      // height: 95%
		      @media (max-width: 576px)
		      	height: 36vh
		      	// padding: 0px
		      	// h2
		      		// padding-bottom: 0px
		      		// margin: 0
		      	// .pf-others
		      	// 	a
		      	// 		position: relative
		      	// 		margin: 0
		      	// 		padding: 4px
		      	// 		&:hover:before
		      	// 			top: 20px
		      	// 			left: 1px
		      	// 			right: 1px
		      	// .col-6
		      		// height: 28.6vh
		      		// overflow: hidden
		      @media (min-width: 576px)
		     	 height: 37.5vh
		      	// padding-top: 3.5vh
		      	// .pf-others
		      	// 	padding-bottom: 0
		      	// .col-6
		      		// height: 38.6vh
		      @media (min-width: 768px)
		     	 height: 36.4vh
		      	// padding-top: 5vh
		      	// .col-6
		      		// height: 34.5vh
		      @media (min-width: 992px)
		     		height: 35.4vh
		      	// padding-top: 3vw
		      	// .col-6
		      		// height: 34.5vh
		      @media (min-width: 1200px)
		     	 height: 35.4vh
		      	// padding-top: 2.5vw
		      	// .col-6
		      		// height: 35.6vh
		  .grid-portfolio-item-cover
		    background-color: #ffb800
		    position: absolute
		    width: 100%
		    top: 50%
		    padding-left: 25.9%
		    padding-right: 25.9%
		    height: 160px
		    margin-top: -80px
		    display: table
		    left: -100%
		    transition: all 0.5s
		    .grid-portfolio-item-content
		      display: table-cell
		      vertical-align: middle
		      .grid-portfolio-work-title, .grid-portfolio-work-date
		        color: #fff
		      .grid-portfolio-work-title
		        margin-bottom: 0
		        line-height: 1
		        font-size: 24px
		        a
		          color: inherit
		          &:hover
		            text-decoration: none
		            + .grid-portfolio-work-icon-cover
		              padding-left: 35px
			              transition: all 0.5s
		.grid-portfolio-item-cover
		  padding-left: 18px
		  padding-right: 18px
		  height: 120px
		  margin-top: -60px
		.col-portfolio-full
		  padding-left: 2px
		  padding-right: 2px
		  .grid-portfolio-item
		    margin-bottom: 4px
		    .grid-portfolio-image
		      border: none
		    .grid-portfolio-item-cover
		      padding-left: 14.9%
		      padding-right: 14.9%
		      .grid-portfolio-work-title
		        font-size: 20px
		        .grid-portfolio-work-icon-cover
		          padding-left: 31px
		          transition: all 0.5s
		      .grid-portfolio-work-date
		        font-size: 16px
		        line-height: 1

		// .PF-img
		// 	margin-left: -15px
		// 	margin-right: -15px
		// 	overflow: hidden
		// 	border: 1px solid white
		// 	// height: 247px
		// 	a
		// 		img
		// 			width: 100%
		// 			height: 100%
		// 			display: flex
		// 			justify-content

	// @media (max-width: 576px)
	// 	padding: 0px
	// 	h2
	// 		padding-bottom: 0px
	// 		margin: 0
	// 	.pf-others
	// 		a
	// 			position: relative
	// 			margin: 0
	// 			padding: 4px
	// 			&:hover:before
	// 				top: 20px
	// 				left: 1px
	// 				right: 1px
	// 	.col-6
	// 		// height: 28.6vh
	// 		overflow: hidden
	// @media (min-width: 576px)
	// 	padding-top: 3.5vh
	// 	// .pf-others
	// 	// 	padding-bottom: 0
	// 	.col-6
	// 		// height: 38.6vh
	// @media (min-width: 768px)
	// 	padding-top: 5vh
	// 	.col-6
	// 		height: 34.5vh
	// @media (min-width: 992px)
	// 	padding-top: 3vw
	// 	.col-6
	// 		// height: 34.5vh
	// @media (min-width: 1200px)
	// 	padding-top: 2.5vw
	// 	.col-6
	// 		// height: 35.6vh

.Sponsors
	background-color: #fcb524
	img
		@media (max-width: 576px)
			margin-bottom: 30px
	.sina-logo
		top: -10px
		img
			width: 90%
			@media (max-width: 576px)
				padding: 0 !important
				position: relative
				top: 35px
		span
			position: relative
			top: -22px
	.sponsor-logo
		// height: 300px
		text-align: center
	a 
		text-align: center
		width: 100%
		display: inline-block
		img
			padding: 30px 0
			width: 100%
		span
			text-align: left
			display: inline-block
	.col-lg-3:nth-child(1)
		img
			padding-top: 135px
			padding-bottom: 10px
	.col-lg-3:nth-child(3)
		img
			padding-top: 75px
			padding-bottom: 0px

	@media (max-width: 576px)
		padding: 30px 0 20px
		height: 50vh
		.sponsor-logo
			height: initial
			margin: 0 auto
		.sina-logo
			position: relative
			top: -45px
		a
			width: 90%
			img
				padding-top: 15px
				padding-bottom: 16px
			span
				text-align: center
				display: inline-block
	@media (min-width: 768px) and (max-width: 992px)
		.sina-logo
			// top: -34px
			img
				width: 75%
				@media (max-width: 576px)
					padding: 0 !important
					position: relative
					top: 13px
			span
				position: relative
				top: -30px
		.sponsor-logo
			text-align: center
		a 
			text-align: center
			width: 100%
			display: inline-block
			img
				padding: 0px 0 30px
				width: 100%
			span
				text-align: center
				display: inline-block
				font-size: 23px
		.col-6:nth-child(2),
		.col-6:nth-child(4)
			top: 15px
		.col-6:nth-child(1)
			top: 15px
			img
				padding-top: 0px
				padding-bottom: 30px
		.col-6:nth-child(3)
			top: -15px
			img
				padding-top: 45px
				padding-bottom: 45px

.Contact-us
	@media (max-width: 768px)
		padding-top: 40px
	@media (max-width: 992px)
		padding-top: 0
		margin: 0
	form
		height: 100vh
		h2
			padding-top: 6vh
			padding-bottom: 5vh
			@media (max-width: 576px)
				padding-top: 10vh
			@media (min-width: 576px) and (max-width: 768px)
				padding-top: 4vh
				padding-bottom: 4vh

	@media (max-width: 992px)
		form h2
			padding-top: 8.5vh
	@media (max-width: 768px)
		form h2
			padding-top: 11vh

	.form-control
		// height: 65px
		height: 9vh

		@media (max-width: 768px)
			// height: 50px
			height: 6vh
			
	.form-massage
		height: 24vh

		@media (max-width: 768px)
			max-height: 20vh

	.form-control, .form-control-inf, .form-massage
		padding-left: 50px
	.form-control, .form-massage
		border: none
		outline: none
		box-shadow: none
		background-color: #dddede
		border-radius: 30px
	.form-control-inf
		span
			color: #222222
	button
		// margin: 29px auto 0
		// margin: 2vh auto 0vh
		@media (max-width: 768px)
			// margin: 2vh auto 0

footer

// .collapse
// 	display: none !important
// .collapse.show, 
// 	display: block !important
// .collapsing
// 	height: 0 !important